<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>DFA Design Roadmap</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <div class="header-spacer"></div>
    <div class="header shrink">
      <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png')}}" alt="">
        <span class="title-wrapper slide">
          <h1 class="title">Design Roadmap</h1>
        </span>
      </div>
    </div>
    <div id="container" class="fade-in"></div>
    <div class="footer-spacer"></div>
    <footer class="slide-up">
      <div class="content">
        <p>Made by <a href="http://schlosser.io">Dan</a> at <a href="http://dfa-barnardcolumbia.com">Barnard-Columbia DFA</a>.</p>
        <p class="right"><a href="#login">Log in</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/vender/es5-shim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vender/es5-sham.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vender/console-polyfill.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react/JSXTransformer.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
